<!-- index.html.erb -->
<div class="container">
  <h1>Here is the list of all the Gods</h1>
    <div class="row">
      <% @gods.each do |god| %>
        <div class="col-md-3">
          <div class= "card">
          <!-- <li class="card-item"> -->
            <div class="godname">
            <%= link_to god.name, god_path(god) %>
            </div>
            <div>
            <%= cl_image_tag god.photo, height: 300, width: 400, crop: :fill %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- </ul> -->
  </div>
</div>
