<div class="container">
  <h1>You're adding a booking:</h1>
  <%= simple_form_for([@god, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
