<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
    / remplacer application par pdf et créer un pdf.scss
  </head>
  <body>
    <%= yield %>
  </body>

</html>

